apiVersion: v2
name: paperless-ngx
version: 0.2.46
description: "A community-supported supercharged version of paperless: scan, index and archive all your physical documents"
icon: https://raw.githubusercontent.com/paperless-ngx/paperless-ngx/b948750/src-ui/src/assets/logo-notext.svg
type: application
sources:
  - https://github.com/paperless-ngx/paperless-ngx
# renovate: image=ghcr.io/paperless-ngx/paperless-ngx
appVersion: "2.20.1"
dependencies:
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 3.7.3
  - name: postgresql
    version: 14.3.3
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: mariadb
    version: 20.5.9
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 20.13.4
    condition: redis.enabled
